<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRAVEL</title>
    <link rel="stylesheet" type="text/css" href="styling.css">
</head>
<body align="center">
    <header>
        <div>
            <nav>
                <a href="file:///C:/Users/ESS/OneDrive/Documents/2a41/workshop1/BACK%20OFFICE/addTravelOffer.html">
                <img src="esprit.png" alt="logo esprit" height="100" weight="100" class="n5">
            </a>
            </nav>
        </div>
        <div align="right">
            <a href="#">Travel Offers</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Dashboard</a>
        </div>
        <div align="center">
            <header>
            <h1>TRAVEL BOOKING</h1>
            <h4>Family Trips - Couples' Trips - Adventure and Sports Trips</h4>
            </header>

    </header>

            <h2> <u>TRAVEL OFFERS</u></h2>
        <div class="n3">
        <table align="center">
            <tr>
                <td class="image-container">
                    <img src="circus.png" alt="circus" height="300" weigh="300" class=".image-spacing">
                </td>
                <td class="image-container">
                    <img src="cabin.png" alt="cabin" height="300" weigh="300">
                </td>
                <td class="image-container">
                    <img src="submarine.png" alt="submarine" height="300" weigh="300">
                </td>
            </tr>
        </table>

        </div>
        
        <div class="n2">
            <h2>About</h2>
            <p class="n4">A travel agency specializing in customized holidays wants to modernize its online booking system. Currently, customers have to contact the agency by phone or e-mail to book their trips, resulting in delays and inefficiencies. The agency needs an online solution that will enable customers to browse offers, personalize their trips and book autonomously.</p>
        </div>
    </div>
    <footer>
    <p>you can contact us:<a href="mailto:contact@yourwebsite.com">contact@esprit.tn</a></p>
    <p>Adresse : 123 Rue de André Ampère, <br>2083 Technological Pole - El Ghazela</br></p>
    </footer>
    <div align="center" class="n1">
        <p>Copyright&copy; Your Website 2024</p>
    </div>
    
    
</body>
</html>
